* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
}

.top-navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 96%;
  height: 10vh;
}

.page-name {
  padding: 1% 1%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
}

.left-menu {
  width: 4%;
  height: 100vh;
  position: relative;
}

.logo-div {
  width: 100%;
  height: 13.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50%;
}

.profile {
  position: absolute;
  top: 0;
  right: 0;
  width: 6%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-profile-picture{
  width: 33px;
  height: 33px;
  border: 0.5px solid #000;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.dropdownbtn{
  position:absolute;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#dropdown{
  border-radius: 3px;
  top: 80%;
  right: 20%;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 1000000;
}

.dropdown{
  display: none;
}

.show {display: block;}

#dropdown button{
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 4% 4%;
  cursor: pointer;
}

#dropdown button:hover{
  background-color: #63bfbf;
  color: #fff;
}


#notification {
  position: absolute;
  top: 0;
  right: 5%;
  width: 4%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  cursor: pointer;
}

#notification:hover {
  color: #63bfbf;
  transition: all 0.5s;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #63bfbf;
  position: absolute;
  top: 32%;
  right: 32%;
  border-radius: 100%;
}

#add-per {
  position: absolute;
  top: 0;
  right: 9%;
  width: 4%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  cursor: pointer;
  transition: all 0.5s;
}

#add-per:hover {
  color: #63bfbf;
  transition: all 0.5s;
}

#edit-per {
  position: absolute;
  top: 0;
  right: 13%;
  width: 4%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  cursor: pointer;
  transition: all 0.5s;
}

#edit-per:hover {
  color: #63bfbf;
  transition: all 0.5s;
}

.click-icon {
  color: #63bfbf;
  transition: all 0.5s;
}

#select {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-size: 1.2vw;
  background-color: transparent;
}

#select:hover {
  color: #63bfbf;
  transition: all 0.5s;
}

.search-bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-div {
  width: 35%;
  height: auto;
  position: relative;
}

#search {
  width: 100%;
  padding: 1.5% 3%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  outline: none;
}

.seach-icon {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-menu {
  width: 100%;
  height: 70%;
}

.button-div {
  width: 100%;
  height: 17%;
}

.button,
.button-set {
  background-color: transparent;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: #000000;
  font-size: 1.3vw;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  border-right: 2px solid #63bfbf;
  color: #63bfbf;
  transition: color 0.2s;
}

.button-set:hover {
  color: #63bfbf;
  transition: color 0.2s;
}

.visited {
  border-right: 2px solid #63bfbf;
  color: #63bfbf;
}

.box {
  width: auto;
  height: auto;
  background-color: rgba(70, 138, 155, 0.562);
  position: absolute;
  color: #fff;
  left: 125%;
  z-index: 10000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Karla', sans-serif;
  border-radius: 6px;
  font-size: 1.2vw;
  padding: 10% 15%;
  transition: all 0.5s;
}

.tooltip {
  display: none;
  transition: all 0.5s;
}

.button:hover .tooltip {
  display: block;
}

.settings {
  width: 100%;
  height: 7%;
  position: absolute;
  bottom: 0;
}

#main-div {
  width: 73%;
  position: absolute;
  bottom: 0;
  left: 4%;
  height: 90vh;
  background-color: #fff2ee;
  border-radius: 10px 0px 0px 0px;
  border-left: 1px solid #dfe0e5;
  border-top: 1px solid #dfe0e5;
  padding: 0% 1%;
  overflow-y: auto;
}

#main-div::-webkit-scrollbar {
  display: none;
}

#calendar-title{
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0% 2%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
}

#calendar-header {
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #dfe0e5;
  position: sticky;
  top: 0;
  background-color: #fff2ee;
  z-index: 100000;
}

#calendar-date-div{
  position: absolute;
  top: 0;
  left: 0;
  width: 8%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calendar-date {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #63bfbf;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
}

#calendar-day {
  position: absolute;
  top: 0;
  left: 7%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.2vw;
}

#calendar-monthdateyear {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#center {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
}

#center span {
  padding: 0% 1%;
}

#calendar-next {
  height: 100%;
  position: absolute;
  top: 0;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0% 2%;
  font-size: 1.5vw;
  cursor: pointer;
}

#calendar-previous {
  height: 100%;
  position: absolute;
  top: 0;
  right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0% 2%;
  font-size: 1.5vw;
  cursor: pointer;
}

#time-graph {
  position: relative;
  width: 100%;
}

#calendar-time {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
}

#calendar-time .time-div {
  display: block;
  width: 100%;
}

#calendar-time .time-div .time {
  height: 6vh;
  width: 5%;
  text-align: end;
  padding-top: 2%;
  border-right: 1.5px solid #dfe0e5;
}

#calendar-time .time-div hr {
  width: 97%;
  margin-left: 3%;
  background-color: #dfe0e5;
}

#calendar-timetable {
  position: absolute;
  top: 0;
  right: 0;
  width: 95%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
}

#time-bar {
  width: 100%;
  position: absolute;
  background-color: #63bfbf;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  overflow: hidden;
}

.title-div {
  text-align: start;
  padding-left: 2%;
}

.timein-div span {
  display: inline-block;
}

.timein-div {
  text-align: start;
  padding-left: 2%;
}

#slider {
  height: 90vh;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff2ee;
  border-left: 1px solid #dfe0e5;
  border-top: 1px solid #dfe0e5;
  overflow: hidden;
}

.slider-width {
  width: 0%;
  transition: all 0.5s;
}

.slider-change {
  width: 23%;
  transition: all 0.5s;
}

.close {
  width: 100%;
  height: 8vh;
  position: relative;
  color: #ffffff;
}

#monthdateyear {
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0% 2%;
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  color: #ffffff;
}

#month {
  height: 100%;
  margin: 0% 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
}

#date {
  height: 100%;
  margin: 0% 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
}

#year {
  height: 100%;
  margin: 0% 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
}

#next {
  height: 100%;
  position: absolute;
  top: 0;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0% 2%;
  font-size: 1.5vw;
  cursor: pointer;
  color: #fff;
}

#previous {
  height: 100%;
  position: absolute;
  top: 0;
  right: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0% 2%;
  font-size: 1.5vw;
  cursor: pointer;
  color: #fff;
}

#days-list {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Karla', sans-serif;
  font-size: 1vw;
  background-color: #63bfbf;
  color: #ffffff;
}

#days-list div {
  width: calc(100% / 7);
  display: flex;
  align-items: center;
  justify-content: center;
}

#dates {
  width: 100%;
  height: auto;
  font-family: 'Karla', sans-serif;
  font-size: 1vw;
  background-color: #b4d6d6;
  border-bottom: 1px solid #dfe0e5;
}

#dates div {
  display: inline-block;
}

.days-no {
  width: calc(100% / 7);
  text-align: center;
  padding: 4.5% 0%;
  cursor: pointer;
}

.today {
  background-color: #63bfbf;
  color: #fff;
  border-radius: 5px;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #000;
  cursor: pointer;
}

.close-button:hover {
  background-color: #dfe0e5;
  transition: all 0.5s;
}

#classs-time {
  width: 100%;
  height: 30vh;
  padding: 5%;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  border-bottom: 1px solid #dfe0e5;
}

#select-class{
  width: 85%;
  padding: 2% 4%;
  cursor: pointer;
  margin-bottom: 4%;
}

#Timein,#Timeout{
  width: 38.7%;
  padding: 1.5% 3%;
  margin-bottom: 4%;
}

#timedate{
  width: 87%;
  padding: 1.5% 3%;
  margin-bottom: 4%;
}

#timesave {
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 2% 4%;
  background-color: #63bfbf;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

#class-list{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 57.5%;
  font-family: "Poppins", sans-serif;
  overflow-y: auto;
}

#class-list::-webkit-scrollbar{
  display: none;
}

.classes{
  width: calc(100%/2.3);
  padding: 2% 4%;
  margin: 2% 2.7%;
  height: 15vh;
  border-radius: 10px;
  position: relative;
  background-color: cornflowerblue;
}

.class-date{
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: 'Karla', sans-serif;
  font-size: 1.2vw;
  padding: 3% 8%;
}

#class-list .classes{
  display: inline-block;
}

.class-del{
  width: calc(100%/3);
  height: 7vh;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#class-list .classes:nth-child(1){
  display: none;
}

.display {
  display: none;
}
