* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

a{
  text-decoration: none;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
}

.top-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 96%;
  height: 10vh;
}

.page-name {
  padding: 1% 1%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
}

.left-nav {
  width: 4%;
  height: 100vh;
  position: relative;
}

.logo-div {
  width: 100%;
  height: 13.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50%;
}

.profile {
  position: absolute;
  top: 0;
  right: 0;
  width: 6%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.pro-pic {
  width: 33px;
  height: 33px;
  border: 0.5px solid #000;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.dropdownbtn{
  position:absolute;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#dropdown{
  border-radius: 3px;
  top: 80%;
  right: 20%;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 1000000;
}

.dropdown{
  display: none;
}

.show {display: block;}

#dropdown button{
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 4% 4%;
  cursor: pointer;
  text-align: left;
}

#dropdown button:hover{
  background-color: #63bfbf;
  color: #fff;
}

#noti {
  position: absolute;
  top: 0;
  right: 5%;
  width: 4%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  cursor: pointer;
}

#noti:hover {
  color: #63bfbf;
  transition: all 0.5s;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #63bfbf;
  position: absolute;
  top: 32%;
  right: 32%;
  border-radius: 100%;
}

#add-per {
  position: absolute;
  top: 0;
  right: 9%;
  width: 4%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  cursor: pointer;
  transition: all 0.5s;
}

#add-per:hover {
  color: #63bfbf;
  transition: all 0.5s;
}

#edit-per {
  position: absolute;
  top: 0;
  right: 13%;
  width: 4%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  cursor: pointer;
  transition: all 0.5s;
}

#edit-per:hover {
  color: #63bfbf;
  transition: all 0.5s;
}

.click-icon {
  color: #63bfbf;
  transition: all 0.5s;
}

#select {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-size: 1.2vw;
  background-color: transparent;
}

#select:hover {
  color: #63bfbf;
  transition: all 0.5s;
}

.search-bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-div {
  width: 35%;
  height: auto;
  position: relative;
}

#search {
  width: 100%;
  padding: 1.5% 3%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  outline: none;
}

.seach-icon {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-menu {
  width: 100%;
  height: 70%;
}

.button-div {
  width: 100%;
  height: 17%;
}

.button,
.button-set {
  background-color: transparent;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: #000000;
  font-size: 1.3vw;
  cursor: pointer;
}

.button:hover {
  border-right: 2px solid #63bfbf;
  color: #63bfbf;
  transition: color 0.2s;
}

.button-set:hover {
  color: #63bfbf;
  transition: color 0.2s;
}

.visited {
  border-right: 2px solid #63bfbf;
  color: #63bfbf;
}

.arrow {
  width: 1%;
  border: solid;
  border-color: rgba(70, 138, 155, 0.562) transparent;
  border-width: 8px 6px 0 6px;
  transform: rotate(90deg);
  position: absolute;
  left: 105%;
  z-index: 10009;
}

.box {
  width: auto;
  height: auto;
  background-color: rgba(70, 138, 155, 0.562);
  position: absolute;
  color: #fff;
  left: 125%;
  z-index: 10000;
  padding: 10% 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Karla", sans-serif;
  border-radius: 6px;
  font-size: 1.2vw;
}

.tooltip {
  display: none;
}

.button:hover .tooltip {
  display: block;
  transition: all 0.5s;
}

.settings {
  width: 100%;
  height: 7%;
  position: absolute;
  bottom: 0;
}

#main-div {
  position: absolute;
  bottom: 0;
  left: 4%;
  height: 90vh;
  background-color: #fff2ee;
  border-radius: 10px 0px 0px 0px;
  border-left: 1px solid #dfe0e5;
  border-top: 1px solid #dfe0e5;
  padding: 0% 1%;
  overflow-y: auto;
}

#main-div::-webkit-scrollbar {
  display: none;
}

.main-width {
  width: 96%;
  transition: all 0.5s;
}

.main-change {
  width: 73%;
  transition: all 0.5s;
}

#student-head {
  width: 100%;
  height: 5vh;
  position: sticky;
  top: 0;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid #dfe0e5;
  font-size: 1vw;
}

.statuss,
.status {
  padding: 10% 10%;
  border-radius: 5px;
  color: #fff;
}

#student-name {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  text-align: start;
}

#student-id {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  display: flex;
  align-items: center;
  text-align: start;
}

#student-squad {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 55%;
  display: flex;
  align-items: center;
  text-align: start;
}

#student-status {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 73%;
  display: flex;
  align-items: center;
  text-align: start;
}

#student-batch {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 90%;
  display: flex;
  align-items: center;
  text-align: start;
}

#student-list {
  margin: 1% 0%;
  width: 100%;
  height: 7vh;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  position: relative;
  cursor: pointer;
  font-size: 1vw;
}

#student-list:hover {
  background-color: #eeeeee;
  transition: all 0.2s;
}

#student-pro {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

#st-por-div {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dfe0e5;
  overflow: hidden;
}

#student-names {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 5%;
  display: flex;
  align-items: center;
  text-align: start;
}

#student-idno {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  display: flex;
  align-items: center;
  text-align: start;
}

#student-squads {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 55%;
  display: flex;
  align-items: center;
  text-align: start;
}

#student-statuss {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 73%;
  display: flex;
  align-items: center;
  text-align: start;
}

#student-batches {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 90%;
  display: flex;
  align-items: center;
  text-align: start;
}

#coach-head {
  width: 100%;
  height: 5vh;
  position: sticky;
  top: 0;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid #dfe0e5;
  font-size: 1vw;
}

#coach-name {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  text-align: start;
}

#coach-id {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40%;
  display: flex;
  align-items: center;
  text-align: start;
}

#coach-Position {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 62%;
  display: flex;
  align-items: center;
  text-align: start;
}

#coach-status {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 87%;
  display: flex;
  align-items: center;
  text-align: start;
}

#coach-pro {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

#co-por-div {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dfe0e5;
  overflow: hidden;
}

#coach-names {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 5%;
  display: flex;
  align-items: center;
  text-align: start;
}

#coach-idno {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40%;
  display: flex;
  align-items: center;
  text-align: start;
}

#coach-Positions {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 62%;
  display: flex;
  align-items: center;
  text-align: start;
}

#coach-statuss {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 87%;
  display: flex;
  align-items: center;
  text-align: start;
}

#img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

#slider {
  height: 90vh;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff2ee;
  border-left: 1px solid #dfe0e5;
  border-top: 1px solid #dfe0e5;
  overflow: hidden;
}

.slider-width {
  width: 0%;
  font-size: 0vw;
  transition: all 0.5s;
}

.slider-change {
  width: 23%;
  transition: all 0.5s;
}

.close {
  width: 100%;
  height: 8vh;
  border-bottom: 1px solid #dfe0e5;
  position: relative;
  background-color: #fff2ee;
}

#reg-name-div {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0% 2%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clo-icon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #000;
  cursor: pointer;
}

.clo-icon:hover {
  background-color: #dfe0e5;
  transition: all 0.5s;
}

.prof {
  width: 70%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 5% 15%;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}

.display {
  display: none;
}

#profile-show {
  width: 100%;
  height: 91%;
  overflow-y: auto;
}

#profile-show::-webkit-scrollbar {
  display: none;
}

.date {
  padding: 0% 3%;
}

.date h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  color: rgb(145, 145, 145);
}

.date div {
  font-family: "Karla", sans-serif;
  font-size: 1.3vw;
  margin-left: 3%;
  margin-bottom: 2%;
}

.pro-detial div {
  margin-bottom: 5%;
}

#prifile-name {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

#profile-icons {
  font-family: "Karla", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#profile-edit{
  width: 20%;
  margin: 0;
  cursor: pointer;
  color: rgb(48, 41, 153);
  font-size: 1vw;
}

#profile-git{
  text-align: center;
  width: 100%;
  margin: 0;
  color: rgb(48, 41, 153);
}

#profile-slack{
  width: 100%;
  margin: 0;
  color: rgb(48, 41, 153);
}

#profile-icons em {
  font-size: 1vw;
}

#profileIcons{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #dfe0e5;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

#profile-icons a {
  text-decoration: none;
  font-size: 1vw;
}

#profile-mail a {
  font-size: 1.1vw;
  text-decoration: none;
}

.statuss{
  background-color: rgb(159, 216, 45);
}

#editFormDiv{
  position: absolute;
  right: 23%;
  top: 5vh;
  width: 50%;
  height: 90vh;
  background-color: #dfe0e5;
  padding: 1% 1%;
  display: flex;
}

.editFormContainer:nth-child(1){
  width: 30%;
}

.editFormContainer:nth-child(2){
  width: 70%;
  overflow: auto;
  padding-left: 3%;
}

.editFormContainer:nth-child(2)::-webkit-scrollbar{
  display: none;
}

#profileChanege{
  width: 100%;
  height: 30vh;
  border-radius: 10px;
  border: 2px solid #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#uploadImg{
  font-family: "Karla", sans-serif;
  width: 100%;
  text-align: center;
  padding: 5%;
  border-radius: 10px;
  background-color: #63bfbf;
  color: #fff;
  margin: 5% 0%;
  cursor: pointer;
}

#removeImg{
  font-family: "Karla", sans-serif;
  width: 100%;
  text-align: center;
  padding: 3%;
  border-radius: 10px;
  color: rgb(4, 0, 255);
  cursor: pointer;
}


#profileChangeIcon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.247);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}

#gitOn {
  position: relative;
  width: 100%;
  height: 4vh;
  /* background-color: #63bfbf; */
  font-family: "Poppins", sans-serif;
  margin-top: 3%;
}

#gitSwitch {
  position: absolute;
  right: 0;
  top: 0;
}

#slackOn {
  position: relative;
  width: 100%;
  height: 4vh;
  /* background-color: #63bfbf; */
  font-family: "Poppins", sans-serif;
  margin-top: 1%;
}

#slackSwitch {
  position: absolute;
  right: 0;
  top: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label{  
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
}

input[type="text"],input[type="tel"],input[type="date"],input[type="email"],#reg-gen,#reg-status{
  margin-top: 1%;
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 2% 2%;
  border: none;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(230, 230, 230);
  color: #000;
  outline: none;
}

input[type="file"]{
  display: none;
}

#submit{
  margin: 4% 0%;
  width: 100%;
  padding: 2% 2%;
  border: none;
  background-color: #63bfbf;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

#formClose{
  width: 100%;
}

#formCloseIcon{
  position: absolute;
  right: 2%;
  top: 1%;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #000;
  cursor: pointer;
}