* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

a {
  text-decoration: none;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
}

.top-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 96%;
  height: 10vh;
}

.page-name {
  padding: 1% 1%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
}

.left-nav {
  width: 4%;
  height: 100vh;
  position: relative;
}

.logo-div {
  width: 100%;
  height: 13.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50%;
}

.profile {
  position: absolute;
  top: 0;
  right: 0;
  width: 6%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro-pic {
  width: 33px;
  height: 33px;
  border: 0.5px solid #000;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

#noti {
  position: absolute;
  top: 0;
  right: 5%;
  width: 4%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  cursor: pointer;
}

#noti:hover {
  color: #63bfbf;
  transition: all 0.5s;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #63bfbf;
  position: absolute;
  top: 32%;
  right: 32%;
  border-radius: 100%;
}

#add-per {
  position: absolute;
  top: 0;
  right: 9%;
  width: 4%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  cursor: pointer;
  transition: all 0.5s;
}

#add-per:hover {
  color: #63bfbf;
  transition: all 0.5s;
}

#edit-per {
  position: absolute;
  top: 0;
  right: 13%;
  width: 4%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  cursor: pointer;
  transition: all 0.5s;
}

#edit-per:hover {
  color: #63bfbf;
  transition: all 0.5s;
}

.click-icon {
  color: #63bfbf;
  transition: all 0.5s;
}

#select {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-size: 1.2vw;
  background-color: transparent;
}

#select:hover {
  color: #63bfbf;
  transition: all 0.5s;
}

.search-bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-div {
  width: 35%;
  height: auto;
  position: relative;
}

#search {
  width: 100%;
  padding: 1.5% 3%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  outline: none;
}

.seach-icon {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-menu {
  width: 100%;
  height: 70%;
}

.button-div {
  width: 100%;
  height: 17%;
}

.button,
.button-set {
  background-color: transparent;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: #000000;
  font-size: 1.3vw;
  cursor: pointer;
}

.button:hover {
  border-right: 2px solid #63bfbf;
  color: #63bfbf;
  transition: color 0.2s;
}

.button-set:hover {
  color: #63bfbf;
  transition: color 0.2s;
}

.visited {
  color: #63bfbf;
}

.arrow {
  width: 1%;
  border: solid;
  border-color: rgba(70, 138, 155, 0.562) transparent;
  border-width: 8px 6px 0 6px;
  transform: rotate(90deg);
  position: absolute;
  left: 105%;
  z-index: 10009;
}

.box {
  width: auto;
  height: auto;
  background-color: rgba(70, 138, 155, 0.562);
  position: absolute;
  color: #fff;
  left: 125%;
  z-index: 10000;
  padding: 10% 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Karla", sans-serif;
  border-radius: 6px;
  font-size: 1.2vw;
}

.tooltip {
  display: none;
}

.button:hover .tooltip {
  display: block;
  transition: all 0.5s;
}

.settings {
  width: 100%;
  height: 7%;
  position: absolute;
  bottom: 0;
}

#main-div {
  position: absolute;
  bottom: 0;
  left: 4%;
  height: 90vh;
  width: 96%;
  background-color: #fff2ee;
  border-radius: 10px 0px 0px 0px;
  border-left: 1px solid #dfe0e5;
  border-top: 1px solid #dfe0e5;
  padding: 2% 2%;
  overflow-y: auto;
}

#profileChange {
  width: 25%;
  height: 43vh;
  border: 2px solid #000;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

#profileChangeIcon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.247);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}

#gitOn {
  position: relative;
  width: 25%;
  height: 4vh;
  /* background-color: #63bfbf; */
  font-family: "Poppins", sans-serif;
  margin-top: 3%;
}

#gitSwitch {
  position: absolute;
  right: 0;
  top: 0;
}

#slackOn {
  position: relative;
  width: 25%;
  height: 4vh;
  /* background-color: #63bfbf; */
  font-family: "Poppins", sans-serif;
  margin-top: 1%;
}

#slackSwitch {
  position: absolute;
  right: 0;
  top: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}